* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 20px;
}
.heading{
  font-size: 25px;
  text-transform: uppercase;

}
#taskInput {
  padding: 8px;
  width: 200px;
}


#conList {
  list-style-type: none;
  padding: 0;
  border: 1px solid #000;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin: 8px 0;
}

.contacts button {
  background-color: #ff3333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}